* {
  max-width: 100%;
  box-sizing: border-box;
}
body {
  color:darkblue;
  margin: 0 auto;
  background-color:rgb(151, 189, 221);
  max-width: 800px;
  padding: 75px;
}

h1 {
  color:blueviolet;
  padding: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  body {
    min-width: 768px;
    width: 100%;
    background-color:rgb(138, 184, 184)
      }
      }